html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.appContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.centralContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

